:host {
  display: block;
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
  text-align: center;
  font-family: "Lucida Console", sans-serif;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
